doctype html
html(lang='en')
    head
        title Dog API
        //Bootstrap links and imports
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css', integrity='sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    body
        //Navigation fixed to the top
        nav.navbar.navbar-default
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header

                 button.navbar-toggle.collapsed(type='button', data-toggle='collapse',      data-target='#bs-example-navbar-collapse-1', aria-expanded='false', style="padding: 0;")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
            a.navbar-brand(href='#') Random APIs
            #bs-example-navbar-collapse-1.collapse.navbar-collapse(style="padding: 0;")
                ul.nav.navbar-nav(style="float:right;") 
                    li.active
                        a(href='/', style="background: none;")
                            | Home
                            span.sr-only (current)
                    li.active
                        a(href='/firstAPI', style="background: none;")
                            | Dog Images
                            span.sr-only (current)

                    li.active
                        a(href='/secondAPI', style="background: none;")
                            | Cat Images
                            span.sr-only (current)
                    li.active
                        a(href='/thirdAPI', style="background: none;")
                            | Fox Images
                            span.sr-only (current)
        //Top Banner
        .jumbotron(style="margin-top: 0%;") 
            h1(style="margin: 10% 5%") Random Animal Images
            p(style="margin-left: 5%; margin-right: 5%") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            p 
        .row
            //Dog container
            .col-sm-6.col-md-4
                .thumbnail
                    img(src='https://cdn.editorchoice.com/wp-content/uploads/2019/06/dogtilt.jpg', alt='...')
                    .caption
                        h3 Random Dog 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p
                            a.btn.btn-primary(href='/firstAPI', role='button') Test It Out
            //Cat Container
            .col-sm-4.col-md-4
                .thumbnail
                    img(src='https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492_960_720.jpg', alt='...')
                    .caption
                        h3 Random Cat
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                        p
                            a.btn.btn-primary(href='/secondAPI', role='button') Test It Out
            //Fox Container
            .col-sm-6.col-md-4
                .thumbnail
                    img(src='https://images.unsplash.com/photo-1474511320723-9a56873867b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80')
                    .caption
                        h3 Random Fox
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p
                            a.btn.btn-primary(href='/thirdAPI', role='button') Test It Out


