doctype html
html(lang='en')
    head
        title Cat API
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css', integrity='sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    body
        nav.navbar.navbar-default(style = "margin: 0px;")
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header

                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse',      data-target='#bs-example-navbar-collapse-1', aria-expanded='false', style="padding: 0;")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
            a.navbar-brand(href='#') Random APIs
            #bs-example-navbar-collapse-1.collapse.navbar-collapse(style="padding: 0;")
                ul.nav.navbar-nav(style="float:right; padding-left: 15px; padding-right: 15px; ") 
                    li.active()
                        a(href='/', style="background: none;")
                            | Home
                            span.sr-only 
                    li.active
                        a(href='/firstAPI', style="background: none;")
                            | Dog Images
                            span.sr-only

                    li.active
                        a(href='/secondAPI', style="background: none;")
                            | Cat Images
                            span.sr-only (current)
                    li.active
                        a(href='/thirdAPI', style="background: none;")
                            | Fox Images
                            span.sr-only

        .jumbotron(style="background-image: url('https://img.fonwall.ru/o/11/265692.jpg'); background-size: cover; ") 
            h1(style="margin: 10% 5%; ") Random Cat Image
            p(style="margin-left: 5%; margin-right: 5%;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            p 
        h1(style="text-align: center;") Get a Cat
        .btn-group(role='group', aria-label='...', style="display: flex; justify-content: center;")
            button.btn.btn-default(type='button' onClick='window.location.reload()' style="color: white; background-color: rgb(173, 216, 230);") New Cat
        hr
        .container-fluid
            img(src=catImage style="width: 100%; height: 100%;")
    br
        

